/.vscode
/New folder
/New folder (10) - Copy
/New folder (11) - Copy
/New folder (12) - Copy
/New folder (13) - Copy
/New folder (14) - Copy
/New folder (15) - Copy
/New folder (16) - Copy
/New folder (17) - Copy
/New folder (18) - Copy
/New folder (8) - Copy
/New folder (9) - Copy